---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Source Sans Pro', sans-serif;
$base-heavy-font:  'Exo', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$border-radius:    5px;
$shadow:           0px 0px 9px 0px rgba(0, 0, 0, 0.60);

$blue-color:       #04273d;
$grey-color:       #DFE1DC;
$red-color:        #dc1f26;
$white:            #ffffff;
$off-white:        #ded5bc;
$light-off-white:  lighten($off-white, 15%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 55%);

$text-color:       #111;
$background-color: $light-off-white;

$brand-color:      $blue-color;
$cta-background-color: $red-color;
$cta-color:        $background-color;
$header-color:     $blue-color;
$header-text-color: $light-off-white;
$post-meta:        $blue-color;

$palm:             600px;
$laptop:           1024px;
$desktop:          1224px;

$site-width:       1024px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "header",
        "footer",
        "base",
        "layout",
        "index",
        "post",
        "mc_overrides";
