/**
 * Page content
 */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.cover-image {
  width: 100%;
  display: block;
  background-size: cover;
  background-color: black;
  height: 600px;
  background-attachment: fixed;
  background-position-y: -150px;
  background-repeat: no-repeat;
}

.post {
  position: relative;
  .header {
    text-align: center;

    text-transform: capitalize;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-top: 9rem;
    text-shadow: 0px 0px 20px black;

    h1 {
      font-size: 4rem;
    }
  }
}
